.home-body {
  background-color: lightcyan;
}

.home-header {
  text-align: center;
}

.home-header h1 {
  font-size: 50px;
}

.home-header h2 {
  font-size: 30px;
}

.home-header a {
  color: purple;
}

.home-header a :hover {
  color: red;
  text-decoration-color: purple;
  text-decoration: underline;
}