.home-body {
  background-color: lightcyan;
}

.home h1 {
  font-size: 50px;
}

.groups h1 {
  font-size: 50px;
}

.home h2 {
  font-size: 30px;
}

.groups h2 {
  font-size: 30px;
}

/* .home a :hover {
  color: red;
  text-decoration-color: purple;
  text-decoration: underline;
} */